<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>level</th>
      <th>test_accuracy</th>
      <th>test_loss</th>
      <th>train_accuracy</th>
      <th>train_loss</th>
      <th>step_time</th>
      <th>level_time</th>
      <th>optim</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.392958</td>
      <td>1.110201e+00</td>
      <td>0.333333</td>
      <td>1.101941e+00</td>
      <td>0.277760</td>
      <td>0.476425</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0.392958</td>
      <td>1.101880e+00</td>
      <td>0.333333</td>
      <td>1.096967e+00</td>
      <td>0.005584</td>
      <td>0.491729</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0.398528</td>
      <td>1.093986e+00</td>
      <td>0.350000</td>
      <td>1.090822e+00</td>
      <td>0.005586</td>
      <td>0.508120</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0.657791</td>
      <td>1.086107e+00</td>
      <td>0.750000</td>
      <td>1.082794e+00</td>
      <td>0.007095</td>
      <td>0.528150</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0.474421</td>
      <td>1.076790e+00</td>
      <td>0.516667</td>
      <td>1.070820e+00</td>
      <td>0.006137</td>
      <td>0.544714</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0.499106</td>
      <td>1.066498e+00</td>
      <td>0.550000</td>
      <td>1.054573e+00</td>
      <td>0.006516</td>
      <td>0.561482</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0.532989</td>
      <td>1.055023e+00</td>
      <td>0.633333</td>
      <td>1.032588e+00</td>
      <td>0.006199</td>
      <td>0.577279</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0</td>
      <td>0.542239</td>
      <td>1.038858e+00</td>
      <td>0.650000</td>
      <td>1.004747e+00</td>
      <td>0.005950</td>
      <td>0.592475</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0</td>
      <td>0.556600</td>
      <td>1.015001e+00</td>
      <td>0.666667</td>
      <td>9.705338e-01</td>
      <td>0.005991</td>
      <td>0.607905</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0</td>
      <td>0.580212</td>
      <td>9.831795e-01</td>
      <td>0.666667</td>
      <td>9.292518e-01</td>
      <td>0.009014</td>
      <td>0.626304</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0</td>
      <td>0.625032</td>
      <td>1.456283e+00</td>
      <td>0.816667</td>
      <td>6.062406e-01</td>
      <td>0.932235</td>
      <td>1.568203</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0</td>
      <td>0.608473</td>
      <td>1.562780e+00</td>
      <td>0.800000</td>
      <td>5.445918e-01</td>
      <td>0.006206</td>
      <td>1.583351</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0</td>
      <td>0.619615</td>
      <td>1.467784e+00</td>
      <td>0.833333</td>
      <td>4.422192e-01</td>
      <td>0.009796</td>
      <td>1.601091</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0</td>
      <td>0.650841</td>
      <td>1.217850e+00</td>
      <td>0.850000</td>
      <td>3.823962e-01</td>
      <td>0.008462</td>
      <td>1.617526</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0</td>
      <td>0.662033</td>
      <td>1.118000e+00</td>
      <td>0.850000</td>
      <td>3.356557e-01</td>
      <td>0.006040</td>
      <td>1.631781</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0</td>
      <td>0.659887</td>
      <td>1.119972e+00</td>
      <td>0.916667</td>
      <td>2.906375e-01</td>
      <td>0.005911</td>
      <td>1.645824</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0</td>
      <td>0.664691</td>
      <td>1.087974e+00</td>
      <td>0.933333</td>
      <td>2.677889e-01</td>
      <td>0.005688</td>
      <td>1.659645</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0</td>
      <td>0.678285</td>
      <td>1.025226e+00</td>
      <td>0.950000</td>
      <td>2.366026e-01</td>
      <td>0.005749</td>
      <td>1.673876</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0</td>
      <td>0.692186</td>
      <td>9.604220e-01</td>
      <td>0.916667</td>
      <td>2.091629e-01</td>
      <td>0.005715</td>
      <td>1.688219</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0</td>
      <td>0.703123</td>
      <td>9.058374e-01</td>
      <td>0.933333</td>
      <td>1.888645e-01</td>
      <td>0.005636</td>
      <td>1.702261</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0</td>
      <td>0.710482</td>
      <td>8.827690e-01</td>
      <td>0.933333</td>
      <td>1.670501e-01</td>
      <td>0.005685</td>
      <td>1.716311</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0</td>
      <td>0.541626</td>
      <td>2.901279e+00</td>
      <td>0.666667</td>
      <td>1.979957e+00</td>
      <td>0.342989</td>
      <td>2.070211</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0</td>
      <td>0.551694</td>
      <td>2.286508e+00</td>
      <td>0.700000</td>
      <td>1.289925e+00</td>
      <td>0.005702</td>
      <td>2.084234</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0</td>
      <td>0.597741</td>
      <td>1.772326e+00</td>
      <td>0.816667</td>
      <td>6.432933e-01</td>
      <td>0.005978</td>
      <td>2.098375</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0</td>
      <td>0.636684</td>
      <td>1.630132e+00</td>
      <td>0.916667</td>
      <td>2.900160e-01</td>
      <td>0.006839</td>
      <td>2.113366</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0</td>
      <td>0.624061</td>
      <td>1.735372e+00</td>
      <td>0.950000</td>
      <td>2.284196e-01</td>
      <td>0.005786</td>
      <td>2.128816</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0</td>
      <td>0.604743</td>
      <td>1.874637e+00</td>
      <td>0.933333</td>
      <td>2.084891e-01</td>
      <td>0.005728</td>
      <td>2.142697</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0</td>
      <td>0.587009</td>
      <td>1.945905e+00</td>
      <td>0.900000</td>
      <td>2.317576e-01</td>
      <td>0.005645</td>
      <td>2.156744</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0</td>
      <td>0.590893</td>
      <td>1.899217e+00</td>
      <td>0.883333</td>
      <td>2.859188e-01</td>
      <td>0.005616</td>
      <td>2.170660</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0</td>
      <td>0.597383</td>
      <td>1.841604e+00</td>
      <td>0.833333</td>
      <td>3.583440e-01</td>
      <td>0.005703</td>
      <td>2.184944</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>30</th>
      <td>0</td>
      <td>0.605816</td>
      <td>1.762561e+00</td>
      <td>0.833333</td>
      <td>3.935101e-01</td>
      <td>0.005724</td>
      <td>2.198800</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>31</th>
      <td>0</td>
      <td>0.612460</td>
      <td>1.655125e+00</td>
      <td>0.833333</td>
      <td>3.683700e-01</td>
      <td>0.005944</td>
      <td>2.212854</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>32</th>
      <td>0</td>
      <td>0.630143</td>
      <td>1.431551e+00</td>
      <td>0.950000</td>
      <td>1.384226e-01</td>
      <td>0.341053</td>
      <td>2.564827</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>33</th>
      <td>0</td>
      <td>0.652272</td>
      <td>1.269903e+00</td>
      <td>0.983333</td>
      <td>1.095968e-01</td>
      <td>0.005653</td>
      <td>2.578408</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>34</th>
      <td>0</td>
      <td>0.669290</td>
      <td>1.141813e+00</td>
      <td>0.983333</td>
      <td>9.307472e-02</td>
      <td>0.005666</td>
      <td>2.592490</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>35</th>
      <td>0</td>
      <td>0.680993</td>
      <td>1.043220e+00</td>
      <td>0.983333</td>
      <td>8.638331e-02</td>
      <td>0.005707</td>
      <td>2.606623</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>36</th>
      <td>0</td>
      <td>0.694946</td>
      <td>9.677238e-01</td>
      <td>0.983333</td>
      <td>8.320291e-02</td>
      <td>0.006711</td>
      <td>2.621697</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>37</th>
      <td>0</td>
      <td>0.704502</td>
      <td>9.068229e-01</td>
      <td>0.983333</td>
      <td>7.810593e-02</td>
      <td>0.005714</td>
      <td>2.637240</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>38</th>
      <td>0</td>
      <td>0.717535</td>
      <td>8.572596e-01</td>
      <td>0.983333</td>
      <td>6.777784e-02</td>
      <td>0.005677</td>
      <td>2.651254</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>39</th>
      <td>0</td>
      <td>0.727347</td>
      <td>8.241910e-01</td>
      <td>1.000000</td>
      <td>5.735629e-02</td>
      <td>0.005965</td>
      <td>2.665370</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>40</th>
      <td>0</td>
      <td>0.734400</td>
      <td>8.105432e-01</td>
      <td>1.000000</td>
      <td>4.871081e-02</td>
      <td>0.005819</td>
      <td>2.679319</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>41</th>
      <td>0</td>
      <td>0.738386</td>
      <td>8.166148e-01</td>
      <td>1.000000</td>
      <td>4.402160e-02</td>
      <td>0.005740</td>
      <td>2.693362</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>42</th>
      <td>0</td>
      <td>0.738846</td>
      <td>8.382123e-01</td>
      <td>1.000000</td>
      <td>4.339869e-02</td>
      <td>0.005623</td>
      <td>2.707358</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>43</th>
      <td>0</td>
      <td>0.652272</td>
      <td>1.693006e+00</td>
      <td>0.983333</td>
      <td>8.854444e-02</td>
      <td>0.349250</td>
      <td>3.064924</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>44</th>
      <td>0</td>
      <td>0.652016</td>
      <td>1.714166e+00</td>
      <td>0.983333</td>
      <td>9.088501e-02</td>
      <td>0.005769</td>
      <td>3.078711</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>45</th>
      <td>0</td>
      <td>0.658098</td>
      <td>1.693514e+00</td>
      <td>0.983333</td>
      <td>8.541258e-02</td>
      <td>0.005693</td>
      <td>3.093203</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>46</th>
      <td>0</td>
      <td>0.669546</td>
      <td>1.643720e+00</td>
      <td>0.983333</td>
      <td>7.733898e-02</td>
      <td>0.005602</td>
      <td>3.107533</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>47</th>
      <td>0</td>
      <td>0.681351</td>
      <td>1.586215e+00</td>
      <td>0.983333</td>
      <td>6.857537e-02</td>
      <td>0.005632</td>
      <td>3.121831</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>48</th>
      <td>0</td>
      <td>0.694281</td>
      <td>1.524046e+00</td>
      <td>0.983333</td>
      <td>5.873936e-02</td>
      <td>0.005670</td>
      <td>3.135968</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>49</th>
      <td>0</td>
      <td>0.702969</td>
      <td>1.469454e+00</td>
      <td>0.983333</td>
      <td>4.816921e-02</td>
      <td>0.005684</td>
      <td>3.152721</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>50</th>
      <td>0</td>
      <td>0.711197</td>
      <td>1.425598e+00</td>
      <td>1.000000</td>
      <td>3.817361e-02</td>
      <td>0.005846</td>
      <td>3.167259</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>51</th>
      <td>0</td>
      <td>0.718199</td>
      <td>1.394843e+00</td>
      <td>1.000000</td>
      <td>2.933997e-02</td>
      <td>0.006007</td>
      <td>3.181506</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>52</th>
      <td>0</td>
      <td>0.722747</td>
      <td>1.375764e+00</td>
      <td>1.000000</td>
      <td>2.216839e-02</td>
      <td>0.005683</td>
      <td>3.195508</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>53</th>
      <td>0</td>
      <td>0.726274</td>
      <td>1.364740e+00</td>
      <td>1.000000</td>
      <td>1.683867e-02</td>
      <td>0.005812</td>
      <td>3.209935</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>54</th>
      <td>0</td>
      <td>0.689477</td>
      <td>1.924059e+00</td>
      <td>0.983333</td>
      <td>3.096745e-02</td>
      <td>0.393271</td>
      <td>3.611674</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>55</th>
      <td>0</td>
      <td>0.687433</td>
      <td>1.965372e+00</td>
      <td>0.983333</td>
      <td>3.473309e-02</td>
      <td>0.005731</td>
      <td>3.625685</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>56</th>
      <td>0</td>
      <td>0.684469</td>
      <td>1.999936e+00</td>
      <td>0.983333</td>
      <td>3.719115e-02</td>
      <td>0.005889</td>
      <td>3.645697</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>57</th>
      <td>0</td>
      <td>0.683907</td>
      <td>2.012182e+00</td>
      <td>0.983333</td>
      <td>3.779308e-02</td>
      <td>0.007948</td>
      <td>3.666134</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>58</th>
      <td>0</td>
      <td>0.685389</td>
      <td>2.010952e+00</td>
      <td>0.983333</td>
      <td>3.657502e-02</td>
      <td>0.005947</td>
      <td>3.686328</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>59</th>
      <td>0</td>
      <td>0.687229</td>
      <td>2.007360e+00</td>
      <td>0.983333</td>
      <td>3.408569e-02</td>
      <td>0.005971</td>
      <td>3.701209</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>60</th>
      <td>0</td>
      <td>0.689988</td>
      <td>1.974167e+00</td>
      <td>0.983333</td>
      <td>2.978083e-02</td>
      <td>0.005677</td>
      <td>3.720434</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>61</th>
      <td>0</td>
      <td>0.694537</td>
      <td>1.940511e+00</td>
      <td>0.983333</td>
      <td>2.442208e-02</td>
      <td>0.006782</td>
      <td>3.738626</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>62</th>
      <td>0</td>
      <td>0.698267</td>
      <td>1.903141e+00</td>
      <td>0.983333</td>
      <td>1.926058e-02</td>
      <td>0.005711</td>
      <td>3.757543</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>63</th>
      <td>0</td>
      <td>0.704145</td>
      <td>1.870418e+00</td>
      <td>0.983333</td>
      <td>1.499503e-02</td>
      <td>0.005738</td>
      <td>3.772811</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>64</th>
      <td>0</td>
      <td>0.708642</td>
      <td>1.834787e+00</td>
      <td>1.000000</td>
      <td>1.108952e-02</td>
      <td>0.005704</td>
      <td>3.787680</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>65</th>
      <td>0</td>
      <td>0.728267</td>
      <td>1.660403e+00</td>
      <td>1.000000</td>
      <td>2.811542e-03</td>
      <td>0.347828</td>
      <td>4.144489</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>66</th>
      <td>0</td>
      <td>0.726172</td>
      <td>1.677415e+00</td>
      <td>1.000000</td>
      <td>3.400126e-03</td>
      <td>0.005755</td>
      <td>4.158164</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>67</th>
      <td>0</td>
      <td>0.725507</td>
      <td>1.696197e+00</td>
      <td>1.000000</td>
      <td>4.012492e-03</td>
      <td>0.005693</td>
      <td>4.172273</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>68</th>
      <td>0</td>
      <td>0.723565</td>
      <td>1.716973e+00</td>
      <td>1.000000</td>
      <td>4.559185e-03</td>
      <td>0.005705</td>
      <td>4.186427</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>69</th>
      <td>0</td>
      <td>0.722134</td>
      <td>1.736862e+00</td>
      <td>1.000000</td>
      <td>5.119195e-03</td>
      <td>0.005725</td>
      <td>4.201037</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>70</th>
      <td>0</td>
      <td>0.720397</td>
      <td>1.756422e+00</td>
      <td>1.000000</td>
      <td>5.582592e-03</td>
      <td>0.006184</td>
      <td>4.215347</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>71</th>
      <td>0</td>
      <td>0.719068</td>
      <td>1.776927e+00</td>
      <td>1.000000</td>
      <td>5.516745e-03</td>
      <td>0.005738</td>
      <td>4.229280</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>72</th>
      <td>0</td>
      <td>0.715490</td>
      <td>1.837967e+00</td>
      <td>1.000000</td>
      <td>4.060638e-03</td>
      <td>0.006190</td>
      <td>4.246872</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>73</th>
      <td>0</td>
      <td>0.713548</td>
      <td>1.914247e+00</td>
      <td>1.000000</td>
      <td>3.444489e-03</td>
      <td>0.005923</td>
      <td>4.262101</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>74</th>
      <td>0</td>
      <td>0.710482</td>
      <td>1.995136e+00</td>
      <td>1.000000</td>
      <td>2.973889e-03</td>
      <td>0.005753</td>
      <td>4.277395</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>75</th>
      <td>0</td>
      <td>0.708335</td>
      <td>2.079460e+00</td>
      <td>1.000000</td>
      <td>2.546590e-03</td>
      <td>0.005676</td>
      <td>4.291894</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>76</th>
      <td>0</td>
      <td>0.427812</td>
      <td>1.072878e+01</td>
      <td>0.750000</td>
      <td>3.379454e+00</td>
      <td>0.382919</td>
      <td>4.683825</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>77</th>
      <td>0</td>
      <td>0.493075</td>
      <td>8.537172e+00</td>
      <td>0.783333</td>
      <td>2.660670e+00</td>
      <td>0.006060</td>
      <td>4.697880</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>78</th>
      <td>0</td>
      <td>0.550979</td>
      <td>6.389687e+00</td>
      <td>0.833333</td>
      <td>1.793081e+00</td>
      <td>0.005663</td>
      <td>4.711637</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>79</th>
      <td>0</td>
      <td>0.592682</td>
      <td>4.642290e+00</td>
      <td>0.900000</td>
      <td>1.093987e+00</td>
      <td>0.005727</td>
      <td>4.725758</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>80</th>
      <td>0</td>
      <td>0.629632</td>
      <td>3.380796e+00</td>
      <td>0.933333</td>
      <td>5.899384e-01</td>
      <td>0.005681</td>
      <td>4.739840</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>81</th>
      <td>0</td>
      <td>0.652323</td>
      <td>2.577891e+00</td>
      <td>0.950000</td>
      <td>1.481546e-01</td>
      <td>0.005723</td>
      <td>4.757081</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>82</th>
      <td>0</td>
      <td>0.659324</td>
      <td>2.227582e+00</td>
      <td>0.983333</td>
      <td>9.951628e-02</td>
      <td>0.005696</td>
      <td>4.770984</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>83</th>
      <td>0</td>
      <td>0.659478</td>
      <td>2.150733e+00</td>
      <td>0.916667</td>
      <td>2.577863e-01</td>
      <td>0.008304</td>
      <td>4.787654</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>84</th>
      <td>0</td>
      <td>0.662544</td>
      <td>2.080742e+00</td>
      <td>0.916667</td>
      <td>3.710449e-01</td>
      <td>0.007514</td>
      <td>4.803640</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>85</th>
      <td>0</td>
      <td>0.674350</td>
      <td>1.916568e+00</td>
      <td>0.916667</td>
      <td>2.767469e-01</td>
      <td>0.005740</td>
      <td>4.818507</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>86</th>
      <td>0</td>
      <td>0.682936</td>
      <td>1.796622e+00</td>
      <td>0.966667</td>
      <td>1.813585e-01</td>
      <td>0.005790</td>
      <td>4.832427</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>87</th>
      <td>0</td>
      <td>0.484183</td>
      <td>6.224762e+00</td>
      <td>0.733333</td>
      <td>8.831279e-01</td>
      <td>0.359719</td>
      <td>5.200364</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>88</th>
      <td>0</td>
      <td>0.537742</td>
      <td>5.002627e+00</td>
      <td>0.850000</td>
      <td>2.720216e-01</td>
      <td>0.006773</td>
      <td>5.215357</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>89</th>
      <td>0</td>
      <td>0.587878</td>
      <td>3.893031e+00</td>
      <td>1.000000</td>
      <td>5.489167e-02</td>
      <td>0.006222</td>
      <td>5.230022</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>90</th>
      <td>0</td>
      <td>0.608218</td>
      <td>3.203704e+00</td>
      <td>0.983333</td>
      <td>9.741590e-02</td>
      <td>0.008453</td>
      <td>5.247523</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>91</th>
      <td>0</td>
      <td>0.605714</td>
      <td>2.900185e+00</td>
      <td>0.900000</td>
      <td>1.820406e-01</td>
      <td>0.006294</td>
      <td>5.262886</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>92</th>
      <td>0</td>
      <td>0.607605</td>
      <td>2.729966e+00</td>
      <td>0.866667</td>
      <td>2.685228e-01</td>
      <td>0.006230</td>
      <td>5.278230</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>93</th>
      <td>0</td>
      <td>0.623448</td>
      <td>2.477799e+00</td>
      <td>0.916667</td>
      <td>2.933278e-01</td>
      <td>0.005844</td>
      <td>5.292637</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>94</th>
      <td>0</td>
      <td>0.657229</td>
      <td>2.120637e+00</td>
      <td>0.966667</td>
      <td>2.598063e-01</td>
      <td>0.006210</td>
      <td>5.308250</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>95</th>
      <td>0</td>
      <td>0.701181</td>
      <td>1.746332e+00</td>
      <td>0.983333</td>
      <td>2.242806e-01</td>
      <td>0.005933</td>
      <td>5.324006</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>96</th>
      <td>0</td>
      <td>0.734911</td>
      <td>1.469525e+00</td>
      <td>0.983333</td>
      <td>1.980560e-01</td>
      <td>0.005954</td>
      <td>5.339553</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>97</th>
      <td>0</td>
      <td>0.755404</td>
      <td>1.320498e+00</td>
      <td>0.983333</td>
      <td>1.659319e-01</td>
      <td>0.006029</td>
      <td>5.356649</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>98</th>
      <td>0</td>
      <td>0.639546</td>
      <td>2.041946e+00</td>
      <td>0.850000</td>
      <td>4.806095e-01</td>
      <td>0.399771</td>
      <td>5.765071</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>99</th>
      <td>0</td>
      <td>0.623550</td>
      <td>2.252126e+00</td>
      <td>0.833333</td>
      <td>5.893509e-01</td>
      <td>0.005850</td>
      <td>5.779109</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>100</th>
      <td>0</td>
      <td>0.627485</td>
      <td>2.209829e+00</td>
      <td>0.833333</td>
      <td>5.269442e-01</td>
      <td>0.005665</td>
      <td>5.795268</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>101</th>
      <td>0</td>
      <td>0.647979</td>
      <td>1.973745e+00</td>
      <td>0.866667</td>
      <td>3.416347e-01</td>
      <td>0.007704</td>
      <td>5.813364</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>102</th>
      <td>0</td>
      <td>0.681607</td>
      <td>1.680658e+00</td>
      <td>0.933333</td>
      <td>1.570590e-01</td>
      <td>0.005719</td>
      <td>5.829641</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>103</th>
      <td>0</td>
      <td>0.715388</td>
      <td>1.410465e+00</td>
      <td>0.983333</td>
      <td>4.720422e-02</td>
      <td>0.005719</td>
      <td>5.845891</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>104</th>
      <td>0</td>
      <td>0.740124</td>
      <td>1.229120e+00</td>
      <td>1.000000</td>
      <td>8.978333e-03</td>
      <td>0.005728</td>
      <td>5.862203</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>105</th>
      <td>0</td>
      <td>0.753411</td>
      <td>1.153907e+00</td>
      <td>1.000000</td>
      <td>2.327494e-03</td>
      <td>0.005709</td>
      <td>5.878345</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>106</th>
      <td>0</td>
      <td>0.758624</td>
      <td>1.160015e+00</td>
      <td>1.000000</td>
      <td>1.758944e-03</td>
      <td>0.005706</td>
      <td>5.894786</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>107</th>
      <td>0</td>
      <td>0.751214</td>
      <td>1.220185e+00</td>
      <td>1.000000</td>
      <td>2.499443e-03</td>
      <td>0.005708</td>
      <td>5.910934</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>108</th>
      <td>0</td>
      <td>0.740584</td>
      <td>1.314338e+00</td>
      <td>1.000000</td>
      <td>3.937667e-03</td>
      <td>0.005713</td>
      <td>5.929420</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>109</th>
      <td>0</td>
      <td>0.585169</td>
      <td>3.140232e+00</td>
      <td>0.916667</td>
      <td>2.032699e-01</td>
      <td>0.365770</td>
      <td>6.305879</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>110</th>
      <td>0</td>
      <td>0.590893</td>
      <td>3.146709e+00</td>
      <td>0.950000</td>
      <td>1.602539e-01</td>
      <td>0.005960</td>
      <td>6.320412</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>111</th>
      <td>0</td>
      <td>0.609342</td>
      <td>2.984791e+00</td>
      <td>0.983333</td>
      <td>9.264358e-02</td>
      <td>0.006212</td>
      <td>6.334939</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>112</th>
      <td>0</td>
      <td>0.622937</td>
      <td>2.837034e+00</td>
      <td>0.983333</td>
      <td>6.690837e-02</td>
      <td>0.007964</td>
      <td>6.351106</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>113</th>
      <td>0</td>
      <td>0.633873</td>
      <td>2.735857e+00</td>
      <td>0.983333</td>
      <td>6.222453e-02</td>
      <td>0.006424</td>
      <td>6.367869</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>114</th>
      <td>0</td>
      <td>0.635253</td>
      <td>2.689327e+00</td>
      <td>0.983333</td>
      <td>6.383929e-02</td>
      <td>0.005770</td>
      <td>6.381768</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>115</th>
      <td>0</td>
      <td>0.633567</td>
      <td>2.651690e+00</td>
      <td>0.983333</td>
      <td>6.190921e-02</td>
      <td>0.006321</td>
      <td>6.396610</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>116</th>
      <td>0</td>
      <td>0.631676</td>
      <td>2.606003e+00</td>
      <td>0.983333</td>
      <td>5.823168e-02</td>
      <td>0.006254</td>
      <td>6.411428</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>117</th>
      <td>0</td>
      <td>0.630551</td>
      <td>2.523887e+00</td>
      <td>0.983333</td>
      <td>5.097936e-02</td>
      <td>0.005941</td>
      <td>6.425920</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>118</th>
      <td>0</td>
      <td>0.634129</td>
      <td>2.425729e+00</td>
      <td>1.000000</td>
      <td>4.324365e-02</td>
      <td>0.005700</td>
      <td>6.440622</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>119</th>
      <td>0</td>
      <td>0.645730</td>
      <td>2.286086e+00</td>
      <td>1.000000</td>
      <td>3.357438e-02</td>
      <td>0.005715</td>
      <td>6.457346</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>120</th>
      <td>0</td>
      <td>0.713548</td>
      <td>1.641757e+00</td>
      <td>1.000000</td>
      <td>9.195567e-03</td>
      <td>0.366077</td>
      <td>6.832905</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>121</th>
      <td>0</td>
      <td>0.715541</td>
      <td>1.582039e+00</td>
      <td>1.000000</td>
      <td>7.652321e-03</td>
      <td>0.005700</td>
      <td>6.847345</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>122</th>
      <td>0</td>
      <td>0.719017</td>
      <td>1.533958e+00</td>
      <td>1.000000</td>
      <td>6.437940e-03</td>
      <td>0.006124</td>
      <td>6.862691</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>123</th>
      <td>0</td>
      <td>0.720959</td>
      <td>1.494980e+00</td>
      <td>1.000000</td>
      <td>5.454021e-03</td>
      <td>0.006158</td>
      <td>6.877466</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>124</th>
      <td>0</td>
      <td>0.723003</td>
      <td>1.464205e+00</td>
      <td>1.000000</td>
      <td>4.680332e-03</td>
      <td>0.008113</td>
      <td>6.894021</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>125</th>
      <td>0</td>
      <td>0.724434</td>
      <td>1.439597e+00</td>
      <td>1.000000</td>
      <td>4.060681e-03</td>
      <td>0.005680</td>
      <td>6.908201</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>126</th>
      <td>0</td>
      <td>0.726018</td>
      <td>1.419875e+00</td>
      <td>1.000000</td>
      <td>3.564378e-03</td>
      <td>0.005751</td>
      <td>6.922422</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>127</th>
      <td>0</td>
      <td>0.726223</td>
      <td>1.403414e+00</td>
      <td>1.000000</td>
      <td>3.166295e-03</td>
      <td>0.005728</td>
      <td>6.936550</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>128</th>
      <td>0</td>
      <td>0.727603</td>
      <td>1.390456e+00</td>
      <td>1.000000</td>
      <td>2.867603e-03</td>
      <td>0.005932</td>
      <td>6.950631</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>129</th>
      <td>0</td>
      <td>0.728318</td>
      <td>1.380486e+00</td>
      <td>1.000000</td>
      <td>2.648213e-03</td>
      <td>0.005730</td>
      <td>6.964689</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>130</th>
      <td>0</td>
      <td>0.729187</td>
      <td>1.371071e+00</td>
      <td>1.000000</td>
      <td>2.468802e-03</td>
      <td>0.005689</td>
      <td>6.978785</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>131</th>
      <td>0</td>
      <td>0.207134</td>
      <td>2.687107e+08</td>
      <td>0.333333</td>
      <td>2.278717e+08</td>
      <td>0.343953</td>
      <td>7.331143</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>132</th>
      <td>0</td>
      <td>0.207134</td>
      <td>2.430040e+08</td>
      <td>0.333333</td>
      <td>2.060545e+08</td>
      <td>0.005686</td>
      <td>7.344758</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>133</th>
      <td>0</td>
      <td>0.207134</td>
      <td>2.084340e+08</td>
      <td>0.333333</td>
      <td>1.767145e+08</td>
      <td>0.005712</td>
      <td>7.358892</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>134</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.681508e+08</td>
      <td>0.333333</td>
      <td>1.425242e+08</td>
      <td>0.005744</td>
      <td>7.373140</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>135</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.238633e+08</td>
      <td>0.333333</td>
      <td>1.049322e+08</td>
      <td>0.005692</td>
      <td>7.387162</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>136</th>
      <td>0</td>
      <td>0.207134</td>
      <td>7.960929e+07</td>
      <td>0.333333</td>
      <td>6.734991e+07</td>
      <td>0.008343</td>
      <td>7.403668</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>137</th>
      <td>0</td>
      <td>0.207134</td>
      <td>3.380296e+07</td>
      <td>0.333333</td>
      <td>2.845866e+07</td>
      <td>0.006145</td>
      <td>7.417981</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>138</th>
      <td>0</td>
      <td>0.392958</td>
      <td>6.762696e+07</td>
      <td>0.333333</td>
      <td>6.951611e+07</td>
      <td>0.005677</td>
      <td>7.431845</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>139</th>
      <td>0</td>
      <td>0.392958</td>
      <td>9.542594e+07</td>
      <td>0.333333</td>
      <td>1.004772e+08</td>
      <td>0.006224</td>
      <td>7.446506</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>140</th>
      <td>0</td>
      <td>0.392958</td>
      <td>9.914438e+07</td>
      <td>0.333333</td>
      <td>1.049369e+08</td>
      <td>0.005719</td>
      <td>7.460714</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>141</th>
      <td>0</td>
      <td>0.392958</td>
      <td>8.611438e+07</td>
      <td>0.333333</td>
      <td>9.097149e+07</td>
      <td>0.005723</td>
      <td>7.474954</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>142</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.279932e+07</td>
      <td>0.333333</td>
      <td>5.286732e+07</td>
      <td>0.357745</td>
      <td>7.841121</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>143</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.271332e+07</td>
      <td>0.333333</td>
      <td>5.280885e+07</td>
      <td>0.005770</td>
      <td>7.855269</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>144</th>
      <td>0</td>
      <td>0.207134</td>
      <td>5.750470e+07</td>
      <td>0.333333</td>
      <td>4.839649e+07</td>
      <td>0.006176</td>
      <td>7.870058</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>145</th>
      <td>0</td>
      <td>0.207134</td>
      <td>4.898240e+07</td>
      <td>0.333333</td>
      <td>4.114726e+07</td>
      <td>0.005945</td>
      <td>7.884673</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>146</th>
      <td>0</td>
      <td>0.207134</td>
      <td>3.761078e+07</td>
      <td>0.333333</td>
      <td>3.148961e+07</td>
      <td>0.005717</td>
      <td>7.899036</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>147</th>
      <td>0</td>
      <td>0.207134</td>
      <td>2.320351e+07</td>
      <td>0.333333</td>
      <td>1.925388e+07</td>
      <td>0.005766</td>
      <td>7.913897</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>148</th>
      <td>0</td>
      <td>0.391578</td>
      <td>1.596655e+07</td>
      <td>0.333333</td>
      <td>1.494260e+07</td>
      <td>0.007588</td>
      <td>7.930313</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>149</th>
      <td>0</td>
      <td>0.392958</td>
      <td>2.366818e+07</td>
      <td>0.333333</td>
      <td>2.368248e+07</td>
      <td>0.005708</td>
      <td>7.944954</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>150</th>
      <td>0</td>
      <td>0.392855</td>
      <td>1.891776e+07</td>
      <td>0.333333</td>
      <td>1.871949e+07</td>
      <td>0.006141</td>
      <td>7.959823</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>151</th>
      <td>0</td>
      <td>0.207134</td>
      <td>8.888749e+06</td>
      <td>0.333333</td>
      <td>7.122146e+06</td>
      <td>0.006226</td>
      <td>7.974543</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>152</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.246071e+07</td>
      <td>0.333333</td>
      <td>1.016421e+07</td>
      <td>0.005807</td>
      <td>7.988964</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>153</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.626963e+08</td>
      <td>0.333333</td>
      <td>3.103579e+08</td>
      <td>0.357761</td>
      <td>8.355416</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>154</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.636802e+08</td>
      <td>0.333333</td>
      <td>3.114518e+08</td>
      <td>0.006055</td>
      <td>8.369388</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>155</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.619571e+08</td>
      <td>0.333333</td>
      <td>3.101446e+08</td>
      <td>0.005927</td>
      <td>8.383842</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>156</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.579086e+08</td>
      <td>0.333333</td>
      <td>3.067758e+08</td>
      <td>0.005723</td>
      <td>8.398269</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>157</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.518612e+08</td>
      <td>0.333333</td>
      <td>3.016346e+08</td>
      <td>0.005721</td>
      <td>8.412790</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>158</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.440943e+08</td>
      <td>0.333333</td>
      <td>2.949694e+08</td>
      <td>0.006018</td>
      <td>8.427584</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>159</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.348537e+08</td>
      <td>0.333333</td>
      <td>2.869994e+08</td>
      <td>0.006209</td>
      <td>8.442293</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>160</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.243506e+08</td>
      <td>0.333333</td>
      <td>2.779136e+08</td>
      <td>0.006346</td>
      <td>8.458973</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>161</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.127706e+08</td>
      <td>0.333333</td>
      <td>2.678775e+08</td>
      <td>0.005887</td>
      <td>8.473339</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>162</th>
      <td>0</td>
      <td>0.399908</td>
      <td>3.002764e+08</td>
      <td>0.333333</td>
      <td>2.570340e+08</td>
      <td>0.005692</td>
      <td>8.488013</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>163</th>
      <td>0</td>
      <td>0.399908</td>
      <td>2.870122e+08</td>
      <td>0.333333</td>
      <td>2.455088e+08</td>
      <td>0.006033</td>
      <td>8.502819</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>164</th>
      <td>0</td>
      <td>0.207134</td>
      <td>4.853187e+07</td>
      <td>0.333333</td>
      <td>4.110834e+07</td>
      <td>0.342188</td>
      <td>8.853702</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>165</th>
      <td>0</td>
      <td>0.207134</td>
      <td>4.291624e+07</td>
      <td>0.333333</td>
      <td>3.629913e+07</td>
      <td>0.005926</td>
      <td>8.868078</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>166</th>
      <td>0</td>
      <td>0.207134</td>
      <td>3.660979e+07</td>
      <td>0.333333</td>
      <td>3.090252e+07</td>
      <td>0.005730</td>
      <td>8.881995</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>167</th>
      <td>0</td>
      <td>0.207134</td>
      <td>2.971854e+07</td>
      <td>0.333333</td>
      <td>2.500843e+07</td>
      <td>0.005685</td>
      <td>8.896098</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>168</th>
      <td>0</td>
      <td>0.207134</td>
      <td>2.231894e+07</td>
      <td>0.333333</td>
      <td>1.868166e+07</td>
      <td>0.005695</td>
      <td>8.912829</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>169</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.447649e+07</td>
      <td>0.333333</td>
      <td>1.197831e+07</td>
      <td>0.005697</td>
      <td>8.926993</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>170</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.247312e+06</td>
      <td>0.333333</td>
      <td>4.946670e+06</td>
      <td>0.005695</td>
      <td>8.940963</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>171</th>
      <td>0</td>
      <td>0.207134</td>
      <td>5.496823e+05</td>
      <td>0.333333</td>
      <td>2.557602e+05</td>
      <td>0.005687</td>
      <td>8.955002</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>172</th>
      <td>0</td>
      <td>0.207134</td>
      <td>4.928624e+04</td>
      <td>0.333333</td>
      <td>6.307770e+00</td>
      <td>0.005804</td>
      <td>8.969136</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>173</th>
      <td>0</td>
      <td>0.207237</td>
      <td>2.571039e+04</td>
      <td>0.333333</td>
      <td>6.294533e+00</td>
      <td>0.005718</td>
      <td>8.983005</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>174</th>
      <td>0</td>
      <td>0.207134</td>
      <td>2.324373e+04</td>
      <td>0.333333</td>
      <td>6.280364e+00</td>
      <td>0.005700</td>
      <td>8.997073</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>175</th>
      <td>0</td>
      <td>0.207134</td>
      <td>5.693308e+04</td>
      <td>0.333333</td>
      <td>6.481371e+00</td>
      <td>0.341633</td>
      <td>9.350128</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>176</th>
      <td>0</td>
      <td>0.207134</td>
      <td>5.554432e+04</td>
      <td>0.333333</td>
      <td>6.466356e+00</td>
      <td>0.005701</td>
      <td>9.363740</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>177</th>
      <td>0</td>
      <td>0.207134</td>
      <td>5.753179e+04</td>
      <td>0.333333</td>
      <td>6.450633e+00</td>
      <td>0.005765</td>
      <td>9.378043</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>178</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.087791e+04</td>
      <td>0.333333</td>
      <td>6.434301e+00</td>
      <td>0.005705</td>
      <td>9.392106</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>179</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.485010e+04</td>
      <td>0.333333</td>
      <td>6.417443e+00</td>
      <td>0.008277</td>
      <td>9.408760</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>180</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.912791e+04</td>
      <td>0.333333</td>
      <td>6.400136e+00</td>
      <td>0.005717</td>
      <td>9.422902</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>181</th>
      <td>0</td>
      <td>0.207134</td>
      <td>7.345079e+04</td>
      <td>0.333333</td>
      <td>6.382441e+00</td>
      <td>0.005934</td>
      <td>9.436989</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>182</th>
      <td>0</td>
      <td>0.207134</td>
      <td>7.789693e+04</td>
      <td>0.333333</td>
      <td>6.364425e+00</td>
      <td>0.005667</td>
      <td>9.450808</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>183</th>
      <td>0</td>
      <td>0.207134</td>
      <td>8.228208e+04</td>
      <td>0.333333</td>
      <td>6.346130e+00</td>
      <td>0.005708</td>
      <td>9.464787</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>184</th>
      <td>0</td>
      <td>0.207134</td>
      <td>8.585109e+04</td>
      <td>0.333333</td>
      <td>6.327606e+00</td>
      <td>0.005709</td>
      <td>9.478865</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>185</th>
      <td>0</td>
      <td>0.207134</td>
      <td>8.970743e+04</td>
      <td>0.333333</td>
      <td>6.308896e+00</td>
      <td>0.005689</td>
      <td>9.492907</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>186</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.296171e+05</td>
      <td>0.333333</td>
      <td>5.970316e+00</td>
      <td>0.343385</td>
      <td>9.844717</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>187</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.350265e+05</td>
      <td>0.333333</td>
      <td>5.951982e+00</td>
      <td>0.005751</td>
      <td>9.858541</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>188</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.401127e+05</td>
      <td>0.333333</td>
      <td>5.933576e+00</td>
      <td>0.005708</td>
      <td>9.872610</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>189</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.448198e+05</td>
      <td>0.333333</td>
      <td>5.915125e+00</td>
      <td>0.005793</td>
      <td>9.886688</td>
      <td>Adam</td>
    </tr>
    <tr>
      <th>190</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.491892e+05</td>
      <td>0.333333</td>
      <td>5.896652e+00</td>
      <td>0.005685</td>
      <td>9.900542</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>191</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.532512e+05</td>
      <td>0.333333</td>
      <td>5.878173e+00</td>
      <td>0.005713</td>
      <td>9.914644</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>192</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.569940e+05</td>
      <td>0.333333</td>
      <td>5.859704e+00</td>
      <td>0.005677</td>
      <td>9.931220</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>193</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.270206e+05</td>
      <td>0.333333</td>
      <td>5.841263e+00</td>
      <td>0.005708</td>
      <td>9.945528</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>194</th>
      <td>0</td>
      <td>0.207134</td>
      <td>1.090571e+05</td>
      <td>0.333333</td>
      <td>5.822860e+00</td>
      <td>0.005674</td>
      <td>9.959570</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>195</th>
      <td>0</td>
      <td>0.207134</td>
      <td>9.793216e+04</td>
      <td>0.333333</td>
      <td>5.804506e+00</td>
      <td>0.005722</td>
      <td>9.973620</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>196</th>
      <td>0</td>
      <td>0.207134</td>
      <td>9.088341e+04</td>
      <td>0.333333</td>
      <td>5.786215e+00</td>
      <td>0.005955</td>
      <td>9.987878</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>197</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.941077e+04</td>
      <td>0.333333</td>
      <td>5.449193e+00</td>
      <td>0.340057</td>
      <td>10.336095</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>198</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.887077e+04</td>
      <td>0.333333</td>
      <td>5.432085e+00</td>
      <td>0.005750</td>
      <td>10.349763</td>
      <td>DMD</td>
    </tr>
    <tr>
      <th>199</th>
      <td>0</td>
      <td>0.207134</td>
      <td>6.851405e+04</td>
      <td>0.333333</td>
      <td>5.415149e+00</td>
      <td>0.005687</td>
      <td>10.363863</td>
      <td>DMD</td>
    </tr>
  </tbody>
</table>